In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# ---- Summary of the twitter accounts -----#
# RER_A
# RERB
# RERC_SNCF --< Infotrafic
# RERD_SNCF --< Infotrafic
# RERE_SNCF --< Infotrafic
# Ligne12_RATP --< from 1 to 14 lines

line_list = ['RER_A', 'RER_B', 'RER_C', 'RER_D', 'RER_E','Ligne1_RATP', 'Ligne2_RATP', 'Ligne3_RATP', 'Ligne4_RATP',
 'Ligne5_RATP', 'Ligne6_RATP', 'Ligne7_RATP', 'Ligne8_RATP', 'Ligne9_RATP', 'Ligne10_RATP', 'Ligne11_RATP', 'Ligne12_RATP',
 'Ligne13_RATP', 'Ligne14_RATP' ]

file_path = "data/"
line_dict = dict()
for item in line_list:
    line_dict[item] = pd.read_csv(file_path + item +'.csv', sep=';',error_bad_lines=False)

b'Skipping line 4313: expected 10 fields, saw 11\n'
b'Skipping line 1089: expected 10 fields, saw 11\nSkipping line 4918: expected 10 fields, saw 11\nSkipping line 7193: expected 10 fields, saw 11\n'
b'Skipping line 11823: expected 10 fields, saw 11\nSkipping line 12791: expected 10 fields, saw 11\nSkipping line 17202: expected 10 fields, saw 11\nSkipping line 17564: expected 10 fields, saw 11\nSkipping line 17567: expected 10 fields, saw 11\nSkipping line 17835: expected 10 fields, saw 11\nSkipping line 17848: expected 10 fields, saw 11\nSkipping line 18418: expected 10 fields, saw 11\nSkipping line 18430: expected 10 fields, saw 11\nSkipping line 18509: expected 10 fields, saw 11\nSkipping line 18599: expected 10 fields, saw 11\nSkipping line 18880: expected 10 fields, saw 11\nSkipping line 18920: expected 10 fields, saw 11\nSkipping line 19707: expected 10 fields, saw 11\n'
b'Skipping line 4081: expected 10 fields, saw 11\nSkipping line 10409: expected 10 fields, saw 11\nSkipping line 14147: expected 10 fields, saw 11\nSkipping line 16851: expected 10 fields, saw 11\nSkipping line 17961: expected 10 fields, saw 11\nSkipping line 18574: expected 10 fields, saw 11\nSkipping line 18658: expected 10 fields, saw 11\nSkipping line 21004: expected 10 fields, saw 11\nSkipping line 21895: expected 10 fields, saw 11\nSkipping line 23069: expected 10 fields, saw 11\n'
b'Skipping line 5159: expected 10 fields, saw 11\nSkipping line 7458: expected 10 fields, saw 11\nSkipping line 7672: expected 10 fields, saw 11\n'
b'Skipping line 428: expected 10 fields, saw 11\n'

In [2]:
# Check how many items we have
for k,v in line_dict.items():
    print(k, v.shape)
    #print(v.head())

RER_A (21028, 10)
RER_B (15540, 10)
RER_C (23086, 10)
RER_D (23306, 10)
RER_E (8497, 10)
Ligne1_RATP (7436, 10)
Ligne2_RATP (5518, 10)
Ligne3_RATP (5043, 10)
Ligne4_RATP (9091, 10)
Ligne5_RATP (5998, 10)
Ligne6_RATP (6977, 10)
Ligne7_RATP (5963, 10)
Ligne8_RATP (5903, 10)
Ligne9_RATP (5642, 10)
Ligne10_RATP (3950, 10)
Ligne11_RATP (3812, 10)
Ligne12_RATP (6335, 10)
Ligne13_RATP (6992, 10)
Ligne14_RATP (4927, 10)

In [3]:
line_dict['Ligne11_RATP'].head()

,username,date,retweets,favorites,text,geo,mentions,hashtags,id,permalink
0,Ligne11_RATP,2017-10-10 12:19,0,0,"Bonjour, la #Ligne11 fonctionne correctement, ...",NaN,NaN,#Ligne11,9.176961e+17,https://twitter.com/Ligne11_RATP/status/917696...
1,Ligne11_RATP,2017-10-09 14:22,0,1,"Demain, le trafic sera normal sur votre #ligne...",NaN,NaN,#ligne11 #RATP #greve10octobre,9.173647e+17,https://twitter.com/Ligne11_RATP/status/917364...
2,Ligne11_RATP,2017-10-08 12:58,0,1,Retour à un trafic régulier sur l'ensemble de ...,NaN,NaN,#Ligne11 #RATP,9.169811e+17,https://twitter.com/Ligne11_RATP/status/916981...
3,Ligne11_RATP,2017-10-08 12:51,1,0,"12:51, Retour à un trafic régulier sur l'ensem...",NaN,NaN,#Ligne11 #RATP,9.169795e+17,https://twitter.com/Ligne11_RATP/status/916979...
4,Ligne11_RATP,2017-10-08 12:45,1,0,"12:43, le trafic reprend progressivement (coli...",NaN,NaN,#RATP #Ligne11,9.169778e+17,https://twitter.com/Ligne11_RATP/status/916977...